
R87
# This file describes the network interfaces

auto R87-eth1
iface R87-eth1 inet static
address 9.110.8.87/24

auto R87-eth2
iface R87-eth2 inet static
address 9.111.8.87/24

auto R87-eth3
iface R87-eth3 inet static
address 9.112.8.87/24

auto R87-eth4
iface R87-eth4 inet static
address 9.113.8.87/24

auto R87-eth5
iface R87-eth5 inet static
address 9.114.8.87/24

auto R87-eth6
iface R87-eth6 inet static
address 9.87.6.87/24

auto R87-eth7
iface R87-eth7 inet static
address 9.87.7.87/24

auto R87-eth8
iface R87-eth8 inet static
address 9.87.8.87/24

auto R87-eth9
iface R87-eth9 inet static
address 9.87.9.87/24

auto R87-eth10
iface R87-eth10 inet static
address 9.87.10.87/24

# ports.conf --

frr version 10.3
frr defaults traditional
log file /tmp/R87.log
ip forwarding
no ipv6 forwarding
hostname R87
service integrated-vtysh-config
!
route-map ALLOW_ALL permit 10
!
password zebra
enable password zebra
!
router bgp 65108
  bgp router-id 9.87.10.87
  bgp bestpath as-path multipath-relax

  neighbor 9.110.8.110 remote-as 65000
  neighbor 9.110.8.110 ebgp-multihop
  neighbor 9.110.8.110 update-source 9.110.8.87

  neighbor 9.111.8.111 remote-as 65000
  neighbor 9.111.8.111 ebgp-multihop
  neighbor 9.111.8.111 update-source 9.111.8.87

  neighbor 9.112.8.112 remote-as 65000
  neighbor 9.112.8.112 ebgp-multihop
  neighbor 9.112.8.112 update-source 9.112.8.87

  neighbor 9.113.8.113 remote-as 65000
  neighbor 9.113.8.113 ebgp-multihop
  neighbor 9.113.8.113 update-source 9.113.8.87

  neighbor 9.114.8.114 remote-as 65000
  neighbor 9.114.8.114 ebgp-multihop
  neighbor 9.114.8.114 update-source 9.114.8.87

  neighbor 9.87.6.35 remote-as 65201
  neighbor 9.87.6.35 ebgp-multihop
  neighbor 9.87.6.35 update-source 9.87.6.87

  neighbor 9.87.7.36 remote-as 65202
  neighbor 9.87.7.36 ebgp-multihop
  neighbor 9.87.7.36 update-source 9.87.7.87

  neighbor 9.87.8.37 remote-as 65203
  neighbor 9.87.8.37 ebgp-multihop
  neighbor 9.87.8.37 update-source 9.87.8.87

  neighbor 9.87.9.38 remote-as 65204
  neighbor 9.87.9.38 ebgp-multihop
  neighbor 9.87.9.38 update-source 9.87.9.87

  neighbor 9.87.10.39 remote-as 65205
  neighbor 9.87.10.39 ebgp-multihop
  neighbor 9.87.10.39 update-source 9.87.10.87

  address-family ipv4 unicast

    aggregate-address 18.0.0.0/8 summary-only

    neighbor 9.110.8.110 route-map ALLOW_ALL in
    neighbor 9.110.8.110 route-map ALLOW_ALL out    

    neighbor 9.111.8.111 route-map ALLOW_ALL in
    neighbor 9.111.8.111 route-map ALLOW_ALL out    

    neighbor 9.112.8.112 route-map ALLOW_ALL in
    neighbor 9.112.8.112 route-map ALLOW_ALL out    

    neighbor 9.113.8.113 route-map ALLOW_ALL in
    neighbor 9.113.8.113 route-map ALLOW_ALL out    

    neighbor 9.114.8.114 route-map ALLOW_ALL in
    neighbor 9.114.8.114 route-map ALLOW_ALL out    

    neighbor 9.87.6.35 route-map ALLOW_ALL in
    neighbor 9.87.6.35 route-map ALLOW_ALL out    

    neighbor 9.87.7.36 route-map ALLOW_ALL in
    neighbor 9.87.7.36 route-map ALLOW_ALL out    

    neighbor 9.87.8.37 route-map ALLOW_ALL in
    neighbor 9.87.8.37 route-map ALLOW_ALL out    

    neighbor 9.87.9.38 route-map ALLOW_ALL in
    neighbor 9.87.9.38 route-map ALLOW_ALL out    

    neighbor 9.87.10.39 route-map ALLOW_ALL in
    neighbor 9.87.10.39 route-map ALLOW_ALL out    

    maximum-paths 128
  exit-address-family

!

interface R87-eth1
  ip address 9.110.8.87/24

interface R87-eth2
  ip address 9.111.8.87/24

interface R87-eth3
  ip address 9.112.8.87/24

interface R87-eth4
  ip address 9.113.8.87/24

interface R87-eth5
  ip address 9.114.8.87/24

interface R87-eth6
  ip address 9.87.6.87/24

interface R87-eth7
  ip address 9.87.7.87/24

interface R87-eth8
  ip address 9.87.8.87/24

interface R87-eth9
  ip address 9.87.9.87/24

interface R87-eth10
  ip address 9.87.10.87/24

line vty
