
R89
# This file describes the network interfaces

auto R89-eth1
iface R89-eth1 inet static
address 9.120.8.89/24

auto R89-eth2
iface R89-eth2 inet static
address 9.121.8.89/24

auto R89-eth3
iface R89-eth3 inet static
address 9.122.8.89/24

auto R89-eth4
iface R89-eth4 inet static
address 9.123.8.89/24

auto R89-eth5
iface R89-eth5 inet static
address 9.124.8.89/24

auto R89-eth6
iface R89-eth6 inet static
address 9.89.6.89/24

auto R89-eth7
iface R89-eth7 inet static
address 9.89.7.89/24

auto R89-eth8
iface R89-eth8 inet static
address 9.89.8.89/24

auto R89-eth9
iface R89-eth9 inet static
address 9.89.9.89/24

auto R89-eth10
iface R89-eth10 inet static
address 9.89.10.89/24

# ports.conf --

frr version 10.3
frr defaults traditional
log file /tmp/R89.log
ip forwarding
no ipv6 forwarding
hostname R89
service integrated-vtysh-config
!
route-map ALLOW_ALL permit 10
!
password zebra
enable password zebra
!
router bgp 65108
  bgp router-id 9.89.10.89
  bgp bestpath as-path multipath-relax

  neighbor 9.120.8.120 remote-as 65000
  neighbor 9.120.8.120 ebgp-multihop
  neighbor 9.120.8.120 update-source 9.120.8.89

  neighbor 9.121.8.121 remote-as 65000
  neighbor 9.121.8.121 ebgp-multihop
  neighbor 9.121.8.121 update-source 9.121.8.89

  neighbor 9.122.8.122 remote-as 65000
  neighbor 9.122.8.122 ebgp-multihop
  neighbor 9.122.8.122 update-source 9.122.8.89

  neighbor 9.123.8.123 remote-as 65000
  neighbor 9.123.8.123 ebgp-multihop
  neighbor 9.123.8.123 update-source 9.123.8.89

  neighbor 9.124.8.124 remote-as 65000
  neighbor 9.124.8.124 ebgp-multihop
  neighbor 9.124.8.124 update-source 9.124.8.89

  neighbor 9.89.6.35 remote-as 65201
  neighbor 9.89.6.35 ebgp-multihop
  neighbor 9.89.6.35 update-source 9.89.6.89

  neighbor 9.89.7.36 remote-as 65202
  neighbor 9.89.7.36 ebgp-multihop
  neighbor 9.89.7.36 update-source 9.89.7.89

  neighbor 9.89.8.37 remote-as 65203
  neighbor 9.89.8.37 ebgp-multihop
  neighbor 9.89.8.37 update-source 9.89.8.89

  neighbor 9.89.9.38 remote-as 65204
  neighbor 9.89.9.38 ebgp-multihop
  neighbor 9.89.9.38 update-source 9.89.9.89

  neighbor 9.89.10.39 remote-as 65205
  neighbor 9.89.10.39 ebgp-multihop
  neighbor 9.89.10.39 update-source 9.89.10.89

  address-family ipv4 unicast

    aggregate-address 18.0.0.0/8 summary-only

    neighbor 9.120.8.120 route-map ALLOW_ALL in
    neighbor 9.120.8.120 route-map ALLOW_ALL out    

    neighbor 9.121.8.121 route-map ALLOW_ALL in
    neighbor 9.121.8.121 route-map ALLOW_ALL out    

    neighbor 9.122.8.122 route-map ALLOW_ALL in
    neighbor 9.122.8.122 route-map ALLOW_ALL out    

    neighbor 9.123.8.123 route-map ALLOW_ALL in
    neighbor 9.123.8.123 route-map ALLOW_ALL out    

    neighbor 9.124.8.124 route-map ALLOW_ALL in
    neighbor 9.124.8.124 route-map ALLOW_ALL out    

    neighbor 9.89.6.35 route-map ALLOW_ALL in
    neighbor 9.89.6.35 route-map ALLOW_ALL out    

    neighbor 9.89.7.36 route-map ALLOW_ALL in
    neighbor 9.89.7.36 route-map ALLOW_ALL out    

    neighbor 9.89.8.37 route-map ALLOW_ALL in
    neighbor 9.89.8.37 route-map ALLOW_ALL out    

    neighbor 9.89.9.38 route-map ALLOW_ALL in
    neighbor 9.89.9.38 route-map ALLOW_ALL out    

    neighbor 9.89.10.39 route-map ALLOW_ALL in
    neighbor 9.89.10.39 route-map ALLOW_ALL out    

    maximum-paths 128
  exit-address-family

!

interface R89-eth1
  ip address 9.120.8.89/24

interface R89-eth2
  ip address 9.121.8.89/24

interface R89-eth3
  ip address 9.122.8.89/24

interface R89-eth4
  ip address 9.123.8.89/24

interface R89-eth5
  ip address 9.124.8.89/24

interface R89-eth6
  ip address 9.89.6.89/24

interface R89-eth7
  ip address 9.89.7.89/24

interface R89-eth8
  ip address 9.89.8.89/24

interface R89-eth9
  ip address 9.89.9.89/24

interface R89-eth10
  ip address 9.89.10.89/24

line vty
